
.navbar {
  overflow: hidden;
  background-color: #d6eaf7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

li {
  float: left;
  padding: 14px 16px;
}


li a {
  display: block;
  color: rgb(71, 67, 67);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  outline: 4px solid #7faac7; 
}

li a:hover {
  background-color: #7faac7;
  color: white;
}

img {
  display: block;
  float: left;
  margin: 10px;
}

.icon {
  display: block;
  float: right;
  margin: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .navbar {
    overflow: hidden;
    background-color: rgb(85, 201, 149);
  }

  li a {
    display: block;
    color: rgb(71, 67, 67);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 10px;
    outline: 2px solid #7faac7; 
  }
  

  li a:hover {
    background-color: #7faac7;
    color: white; 
  }
  img {
    margin: 6px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    float: right;
  }
}
