  <img src="assets/pwa.png" alt="Description of the image">


  <!-- app.component.html -->

<div class="project-overview">
    <h1>Proyecto PWA</h1>
  
    <ul>
      <li class="creator-section"><strong>Creado por:</strong> Daniel Yanza</li>
      <li class="features-section">
        <strong class="text-center">Funcionalidades Básicas</strong>
        <ul>
          <li><strong>Gestión de Notas/Tareas:</strong> Los usuarios deben poder crear, visualizar, editar y eliminar notas
            o tareas.</li>
          <li><strong>Almacenamiento en la Nube:</strong> Todas las notas o tareas deben almacenarse en Firebase Firestore.
          </li>
        </ul>
      </li>
      <li class="responsive-section">
        <strong class="text-center">Diseño Responsivo:</strong>
        <ul>
          <li>La aplicación debe ser totalmente responsiva y brindar una experiencia de usuario fluida tanto en dispositivos
            móviles como de escritorio.</li>
        </ul>
      </li>
      <li class="pwa-section">
        <strong class="text-center">PWA (Progressive Web App):</strong>
        <ul>
          <li>La aplicación debe ser una PWA, lo que implica que debe funcionar offline y ser instalable en dispositivos
            móviles y de escritorio.</li>
          <li>Configurar correctamente el Service Worker y el archivo manifest (personalización).</li>
        </ul>
      </li>
      <li class="deployment-section">
        <strong class="text-center">Despliegue:</strong>
        <ul>
          <li>Desplegar la aplicación en Firebase Hosting.</li>
        </ul>
      </li>
      <li class="demo-section">
        <strong class="text-center">Demostración:</strong>
        <ul>
          <li>Grabar y subir un video demostrando:
            <ul>
              <li>El proceso de instalación de la PWA en un dispositivo móvil y en un dispositivo de escritorio.</li>
              <li>La funcionalidad de la aplicación en ambos tipos de dispositivos.</li>
              <li>La capacidad de la aplicación para manejar la funcionalidad offline (opcionalmente demostrar la
                sincronización de datos cuando se recupera la conexión a internet).</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  